@{
    PageData["title"] = "Citi Lightning | Portfolio";
}
<h2><center>Portfolio</center></h2>


<br />
<br />

<div class="row">
    <div class="col-xs-6">
        <center><canvas id="countries" width="700" height="400"></canvas></center>
    </div>
    <div class="col-xs-6">
        <br />
        <br />
        <table class="table table-hover table-bordered">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Open</th>
                <th>Change</th>
            </tr>
            <tr ng-repeat="item in data2">
                <td><b>{{ item.Symbol }}</b></td>
                <td>{{ item.Name }}</td>
                <td>{{ item.Price }}</td>
                <td>{{ item.Open}}</td>
                <td ng-style="setColor(item)"><b>{{ item.Change}}</b></td>
            </tr>
        </table>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />